# Android emulator: http://10.0.2.2:8080
# iOS simulator: http://localhost:8080
# Physical device: use your computer's LAN IP, for example http://192.168.1.10:8080
EXPO_PUBLIC_API_URL=http://10.0.2.2:8080
